src/TestRanging_VL53l1X.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "691d042a.bf7dec",
        "type": "tab",
        "label": "TestRanging_VL53L1X",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4432a02b.981cc",
        "type": "ui_button",
        "z": "691d042a.bf7dec",
        "name": "",
        "group": "350904ed.80fdac",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "play_arrow",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "a33d0e69.26a4b",
                "4a230a08.074db4"
            ]
        ]
    },
    {
        "id": "fdc5bb03.6f5668",
        "type": "ui_button",
        "z": "691d042a.bf7dec",
        "name": "",
        "group": "350904ed.80fdac",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "stop",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a33d0e69.26a4b",
                "4a230a08.074db4"
            ]
        ]
    },
    {
        "id": "83c92274.f9021",
        "type": "acquisition in",
        "z": "691d042a.bf7dec",
        "name": "ST-Link",
        "probeconfig": "53e07653.b1fdf8",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "12e74421.8bbb6c"
            ],
            []
        ]
    },
    {
        "id": "820ebdf8.82289",
        "type": "acquisition out",
        "z": "691d042a.bf7dec",
        "name": "ST-Link",
        "probeconfig": "53e07653.b1fdf8",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "8716e50e.1bdd98",
        "type": "subflow:8381c865.236028",
        "z": "691d042a.bf7dec",
        "name": "AmbientRate",
        "env": [
            {
                "name": "varfilter",
                "value": "AmbientRate",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 600,
        "wires": [
            [
                "85bef101.c797c"
            ]
        ]
    },
    {
        "id": "85bef101.c797c",
        "type": "ui_gauge",
        "z": "691d042a.bf7dec",
        "name": "",
        "group": "350904ed.80fdac",
        "order": 10,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Ambient Rate",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "12e74421.8bbb6c",
        "type": "processing",
        "z": "691d042a.bf7dec",
        "groupname": "F103CB_VL53L1X_proportional-DATA",
        "groupid": "f2f656a1.5f51c8",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "8716e50e.1bdd98",
                "7f92b19d.11b37",
                "20ae2cc5.679b34",
                "1b2f5393.9e406c",
                "60e69712.c73cf8",
                "287d52a8.40da5e"
            ],
            []
        ]
    },
    {
        "id": "a33d0e69.26a4b",
        "type": "variables",
        "z": "691d042a.bf7dec",
        "groupname": "F103CB_VL53L1X_proportional-DATA",
        "accesspoint": "0",
        "execonfig": "89b07b5e.36db18",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "avgDist",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1705933591350,
        "openStatus": true,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "820ebdf8.82289"
            ],
            []
        ]
    },
    {
        "id": "7f92b19d.11b37",
        "type": "subflow:8381c865.236028",
        "z": "691d042a.bf7dec",
        "name": "SignalRate",
        "env": [
            {
                "name": "varfilter",
                "value": "SignalRate",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 540,
        "wires": [
            [
                "69f87b6b.455d24"
            ]
        ]
    },
    {
        "id": "69f87b6b.455d24",
        "type": "ui_gauge",
        "z": "691d042a.bf7dec",
        "name": "",
        "group": "350904ed.80fdac",
        "order": 17,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Signal Rate",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20000",
        "colors": [
            "#b50100",
            "#e6e600",
            "#00b505"
        ],
        "seg1": "1000",
        "seg2": "6000",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "8bb1b13c.2b301",
        "type": "ui_button",
        "z": "691d042a.bf7dec",
        "name": "",
        "group": "350904ed.80fdac",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "a55e428e.8a957",
                "89c55f4e.cbb1e"
            ]
        ]
    },
    {
        "id": "a55e428e.8a957",
        "type": "ui_chartst",
        "z": "691d042a.bf7dec",
        "group": "350904ed.80fdac",
        "name": "Distance",
        "order": 8,
        "width": 22,
        "height": 8,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "89c55f4e.cbb1e",
        "type": "ui_chartst",
        "z": "691d042a.bf7dec",
        "group": "350904ed.80fdac",
        "name": "StdDev",
        "order": 11,
        "width": 15,
        "height": 6,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "c04ec9d9.eb3618",
        "type": "ui_write",
        "z": "691d042a.bf7dec",
        "group": "350904ed.80fdac",
        "name": "set parameters",
        "order": 3,
        "width": 6,
        "height": 3,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "820ebdf8.82289"
            ]
        ]
    },
    {
        "id": "4a230a08.074db4",
        "type": "variables",
        "z": "691d042a.bf7dec",
        "groupname": "F103CB_VL53L1X_proportional-PARAM",
        "accesspoint": 0,
        "execonfig": "5457dbd2.899c54",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "DistanceMode",
        "triggerthreshold": "",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1705933561427,
        "openStatus": true,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "c04ec9d9.eb3618"
            ],
            []
        ]
    },
    {
        "id": "8c92306.4082cd",
        "type": "ui_led",
        "z": "691d042a.bf7dec",
        "order": 16,
        "group": "350904ed.80fdac",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ffa500",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#800080",
                "value": "7",
                "valueType": "num"
            },
            {
                "color": "#000000",
                "value": "255",
                "valueType": "num"
            },
            {
                "color": "#00a8e0",
                "value": "99",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Range Status",
        "x": 1060,
        "y": 480,
        "wires": []
    },
    {
        "id": "20ae2cc5.679b34",
        "type": "subflow:8381c865.236028",
        "z": "691d042a.bf7dec",
        "name": "RangeStatus",
        "env": [
            {
                "name": "varfilter",
                "value": "RangeStatus",
                "type": "str"
            }
        ],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "8c92306.4082cd"
            ]
        ]
    },
    {
        "id": "f2dda1b5.8296f",
        "type": "ui_text",
        "z": "691d042a.bf7dec",
        "group": "350904ed.80fdac",
        "order": 13,
        "width": 2,
        "height": 2,
        "name": "ErrorPerc",
        "label": "Errors %",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "1b2f5393.9e406c",
        "type": "subflow:8381c865.236028",
        "z": "691d042a.bf7dec",
        "name": "ErrorPerc",
        "env": [
            {
                "name": "varfilter",
                "value": "ErrorPerc",
                "type": "str"
            }
        ],
        "x": 700,
        "y": 660,
        "wires": [
            [
                "f2dda1b5.8296f"
            ]
        ]
    },
    {
        "id": "60e69712.c73cf8",
        "type": "switch",
        "z": "691d042a.bf7dec",
        "name": "Filter Distance and  avgDist",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Distance",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "avgDist",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 420,
        "wires": [
            [
                "a55e428e.8a957"
            ],
            [
                "a55e428e.8a957"
            ]
        ]
    },
    {
        "id": "287d52a8.40da5e",
        "type": "switch",
        "z": "691d042a.bf7dec",
        "name": "Filter StdDev",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "StdDev",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "89c55f4e.cbb1e"
            ]
        ]
    },
    {
        "id": "350904ed.80fdac",
        "type": "ui_group",
        "name": "TestRanging_VL51L1X",
        "tab": "a889fff4.f106a",
        "order": 1,
        "disp": false,
        "width": "22",
        "collapse": false
    },
    {
        "id": "53e07653.b1fdf8",
        "type": "probe",
        "probeid": "066BFF544856846687095720",
        "probename": "ST-Link v2-1B (...95720)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J43",
        "connectionType": "tcp"
    },
    {
        "id": "89b07b5e.36db18",
        "type": "exe-config",
        "name": "F103CB_VL53L1X_proportional-DATA",
        "exefile": "C:\\Users\\mauro\\Documents\\STM32CubeIDE\\VL53L1X_test\\F103CB_VL53L1X_proportional\\Debug\\F103CB_VL53L1X_proportional.elf",
        "exefolder": "C:\\Users\\mauro\\Documents\\STM32CubeIDE\\VL53L1X_test\\F103CB_VL53L1X_proportional\\Debug",
        "exevariablelist": [
            {
                "address": "0x08005080",
                "name": "VL51L1X_DEFAULT_CONFIGURATION[0]",
                "type": 1
            },
            {
                "address": "0x080050dc",
                "name": "status_rtn[0]",
                "type": 1
            },
            {
                "address": "0x080050f4",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08005104",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "TimingBudget",
                "type": 3
            },
            {
                "address": "0x20000006",
                "name": "DistanceMode",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x2000000c",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000010",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000094",
                "name": "hi2c1.Instance",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hi2c1.Init.ClockSpeed",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hi2c1.Init.DutyCycle",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hi2c1.Init.OwnAddress1",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "hi2c1.Init.AddressingMode",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "hi2c1.Init.DualAddressMode",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hi2c1.Init.OwnAddress2",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hi2c1.Init.GeneralCallMode",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "hi2c1.Init.NoStretchMode",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "hi2c1.pBuffPtr",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "hi2c1.XferSize",
                "type": 3
            },
            {
                "address": "0x200000be",
                "name": "hi2c1.XferCount",
                "type": 3
            },
            {
                "address": "0x200000c0",
                "name": "hi2c1.XferOptions",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hi2c1.PreviousState",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "hi2c1.hdmatx",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hi2c1.hdmarx",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "hi2c1.Lock",
                "type": 2
            },
            {
                "address": "0x200000d1",
                "name": "hi2c1.State",
                "type": 2
            },
            {
                "address": "0x200000d2",
                "name": "hi2c1.Mode",
                "type": 2
            },
            {
                "address": "0x200000d4",
                "name": "hi2c1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "hi2c1.Devaddress",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "hi2c1.Memaddress",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "hi2c1.MemaddSize",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "hi2c1.EventCount",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000108",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20000125",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20000126",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000012a",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000012e",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000130",
                "name": "GestureMenu_CurrentItem",
                "type": 1
            },
            {
                "address": "0x20000134",
                "name": "Distance",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x20000136",
                "name": "RangeStatus",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000138",
                "name": "SignalRate",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x2000013a",
                "name": "AmbientRate",
                "type": 3
            },
            {
                "address": "0x2000013c",
                "name": "ErrorPerc",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000140",
                "name": "numerrors",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "readCounter",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "avgDist",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000014c",
                "name": "StdDev",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200002e8",
                "name": "uwTick",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "F103CB_VL53L1X_proportional.elf",
        "exeModifiedTime": 1705937389283,
        "configLastUpdate": 1705937536065
    },
    {
        "id": "5457dbd2.899c54",
        "type": "exe-config",
        "name": "F103CB_VL53L1X_proportional-PARAM",
        "exefile": "C:\\Users\\mauro\\Documents\\STM32CubeIDE\\VL53L1X_test\\F103CB_VL53L1X_proportional\\Debug\\F103CB_VL53L1X_proportional.elf",
        "exefolder": "C:\\Users\\mauro\\Documents\\STM32CubeIDE\\VL53L1X_test\\F103CB_VL53L1X_proportional\\Debug",
        "exevariablelist": [
            {
                "address": "0x080050f4",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x2000013a",
                "name": "AmbientRate",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x08005104",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000148",
                "name": "avgDist",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000134",
                "name": "Distance",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x20000006",
                "name": "DistanceMode",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x2000013c",
                "name": "ErrorPerc",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x20000130",
                "name": "GestureMenu_CurrentItem",
                "type": 1
            },
            {
                "address": "0x200000d8",
                "name": "hi2c1.Devaddress",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "hi2c1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "hi2c1.EventCount",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "hi2c1.hdmarx",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "hi2c1.hdmatx",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "hi2c1.Init.AddressingMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "hi2c1.Init.ClockSpeed",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "hi2c1.Init.DualAddressMode",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "hi2c1.Init.DutyCycle",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "hi2c1.Init.GeneralCallMode",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "hi2c1.Init.NoStretchMode",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "hi2c1.Init.OwnAddress1",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "hi2c1.Init.OwnAddress2",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "hi2c1.Instance",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "hi2c1.Lock",
                "type": 2
            },
            {
                "address": "0x200000dc",
                "name": "hi2c1.Memaddress",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "hi2c1.MemaddSize",
                "type": 5
            },
            {
                "address": "0x200000d2",
                "name": "hi2c1.Mode",
                "type": 2
            },
            {
                "address": "0x200000b8",
                "name": "hi2c1.pBuffPtr",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "hi2c1.PreviousState",
                "type": 5
            },
            {
                "address": "0x200000d1",
                "name": "hi2c1.State",
                "type": 2
            },
            {
                "address": "0x200000be",
                "name": "hi2c1.XferCount",
                "type": 3
            },
            {
                "address": "0x200000c0",
                "name": "hi2c1.XferOptions",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "hi2c1.XferSize",
                "type": 3
            },
            {
                "address": "0x20000104",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x2000012a",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000126",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000012e",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000108",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20000125",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20000140",
                "name": "numerrors",
                "type": 5
            },
            {
                "address": "0x20000136",
                "name": "RangeStatus",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x20000144",
                "name": "readCounter",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "SignalRate",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x080050dc",
                "name": "status_rtn[0]",
                "type": 1
            },
            {
                "address": "0x2000014c",
                "name": "StdDev",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "TimingBudget",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x200002e8",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000010",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x2000000c",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x08005080",
                "name": "VL51L1X_DEFAULT_CONFIGURATION[0]",
                "type": 1
            }
        ],
        "expand": false,
        "filename": "F103CB_VL53L1X_proportional.elf",
        "exeModifiedTime": 1705937389283,
        "configLastUpdate": 1705937602538
    },
    {
        "id": "a889fff4.f106a",
        "type": "ui_tab",
        "name": "Test_Ranging_VL51L1X",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]